h1, h2, h3, h4, h5, h6 {
  font-family: helvetica;
  text-align: center;
  background-color: white;
  color: black;
  opacity: .65;
}

p, ol, ul {
  font-family: verdana;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.emphasize {
  font-weight: bold;
  font-style: italic;
}

body {
  //background-image: url("https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg"); 
  //opacity: .50;
}
